body {
background-color: red;
margin: 0px;
font-family: Verdana, Georgia, serif;
font-size: 14px;
}

header  {
background-color: black;
margin: 10px;
height: 90px;
border-radius: 5px;
}

nav ul {
background-color: black;
margin: 10px;
text-align: center;
border-radius: 5px;
padding: 5px;
list-style-type: none;
}

main {
background-color: black;
margin-left: 10px;
margin-right: 320px;
margin-top: 10px;
margin-bottom: 10px;
border-radius: 5px;
padding: 20px;
font-size: 110%;
}

section {
background-color: black;
margin-left: 10px;
margin-right: 320px;
margin-top: 10px;
margin-bottom: 10px;
border-radius: 5px;
padding: 20px;
font-size: 110%;
}

aside {
background-color: black;
margin-left: 10px;
margin-right: 10px;
margin-top: 0px;
margin-bottom: 10px;
font-size: 105%;
float: right;
border-radius: 5px;
padding: 20px;
width: 260px;
clear: right;
}

.imagesidebar {
width: 300px;
float: right;
border-radius: 5px;
margin-left: 10px;
margin-right: 10px;
margin-top: 0px;
margin-bottom: 10px;
clear: right;
}

footer {
background-color: black;
margin: 10px;
height: 100px;
clear: both;
border-radius: 5px;
text-decoration: none;
font-family: Arial;
padding: .2em 1em;
color: black;
}

h1  {
font-size: 120%;
color: red;
text-align: center;
}


h2 {
font-size: 250%;
color: red;
text-align: center;
margin: 0px;
position: relative;
top: 50%;
-webkit-transform: translate(-50%);
<ms-transform: translateY(-50%);
transform: translateY(-50%);
}

p.red {
color: red;
font-family: Arial;
}

nav ul li {
display: inline;
}

nav ul li a {
text-decoration: none;
font-family: Arial;
padding: .2em 1em;
color: red;
background-color: #black;
} 

nav ul li a:hover {
background-color: black;
color: white;
}
